<div class="container-fluid">  
    <div class="top-wrapper">
      <div class="top-content">
        <h1>純喫茶Trip</h1>
        <h2>レトロな世界へタイムスリップ<br>
          お気に入りの純喫茶を見つけよう</h2>
      </div>
      <div class="btn-wrapper flex-column">
        <a href='#' class="btn btn-lg top-btn">
          <i class="fa-solid fa-location-dot fa-lg"></i>
          エリアから検索
        </a>
        <a href='#' class="btn btn-lg top-btn">
          <i class="fa-solid fa-mug-saucer"></i>
          こだわり条件検索
        </a>
      </div>
    </div>
  
</div>