<div class="top-wrapper container-fluid">
  <div class="row top-content text-center">
    <div class="col-xs-12">
      <h1>純喫茶Trip</h1>
    </div>
    <div class="col-xs-12">
      <h2>レトロな世界へタイムスリップ。</h2>
      <h2>純喫茶の情報サイトへようこそ。</h2>
    </div>
    <div class="col-xs-12">
      <%= link_to "純喫茶を探す", shops_path, class: "btn btn-explore" %>
    </div>
    <div class="col-xs-12">
      <%= link_to "マップから探す", maps_path, class: "btn btn-map-search" %>
    </div>
  </div>
</div>
