<% provide(:title, 'ログイン') %>

<div class="container-fluid content-wrapper">
  <div class="row signin-wrapper">
    <div class="col-xs-12">
      <h1>ログイン</h1>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <%= render 'signin_form' %>
    </div>
    <div class="col-xs-12">
      <p>または</p>
      <%= link_to 'ゲストログイン', guest_login_path, method: :post, class: "btn btn-glogin" %>
      <p>
        初めて利用する場合は <%= link_to "新規登録", signup_path %>
      </p>
    </div>
  </div>  
</div>
