<div id="map"></div>
<style>
  #map {
    height: 300px;
    width: 300px;
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>&callback=initMap"async defer></script>