<% provide(:title, 'マップから探す') %>

<div class="container-fluid">
  <div id="map-search-wrapper" class="row content-wrapper">
    <div class="col-xs-12">
      <h1>マップから探す</h1>
    </div>
    <div class="col-xs-12 filter-wrapper">
      <%= render partial: 'filter' %>
    </div>
    <div class=" col-xs-12">
      <div id="search-map"></div>
    </div>
  </div>
</div>
<%= javascript_include_tag "search_map.js" %>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%= Rails.application.credentials.dig(:google_map, :js_api_key) %>&callback=initSearchMap"async defer></script>