<% provide(:title, 'アカウント設定') %>
<% provide(:button_text, '変更') %>

<div class="content-wrapper container-fluid">
  <div class="setting-wrapper row">
    <div class="col-xs-12">
      <h1>アカウント設定</h1>
    </div>
    <div class="profile-edit-wrapper col-xs-12 col-md-10 col-md-offset-1">
      <h3>プロフィール編集</h3>
      <%= render 'form' %>
    </div>
    <div class="account-delete-wrapper col-xs-12">
      <h3>アカウント削除</h3>
      <%= link_to "削除", @user, method: :delete, data: { confirm: "アカウントは復元できません。本当に削除しますか？" }, class: "btn btn-usr-rm" %>
    </div>
  </div>  
</div>
