<% provide(:title, '404 Not Found') %>

<div class="content-wrapper">
  <div id="notfound-wrapper">
    <h1>404 Not Found</h1>
    <h2>ページが見つかりません</h2>
    <%= link_to "トップページへ戻る", root_path,  class: "btn" %>

    <div id="recommend-wrapper">
      <h4>管理人おすすめの純喫茶</h4>
      <h4>喫茶ニカイ</h4>
      <%= image_tag "kissa_nikai.jpg", alt: "喫茶ニカイ", width: "50%" %>
      <p>写真は看板メニュー<br>"ニカイのクリームソーダ"</p>
    </div>
  </div>
</div>
