@import "bootstrap-sprockets";
@import "bootstrap";
@import "_variables";
@import "_mixins";

header {
  #logo {
    float: left;
    font-size: 1.7em;
    color: $accent-blown;
    padding: 7px;
    font-weight: bold;
    text-decoration: none;
  }
  div.container-fluid {
    padding: 0 60px;
  }
  .avatar {
    @include avatar;
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .navbar {
    background-color: $sub;
    .navbar-toggle {
      border-color: $accent-blown;
      &:hover {
        background-color: $main;
        opacity: 0.5;
        transition:0.3s all;
      }
      .icon-bar {
        background-color: $accent-blown;
      }
    }
    .navbar-nav {
      li {
        a {
          color: $accent-blown;
          padding: 10px;
          &:hover {
            opacity: 0.5;
            color: $accent-blown;
            transition:0.3s all;
          }
        }
        #header-dropdown {
          padding: 10px;
        }
      }
    }
  }  
  .nav-item {
    margin-top: 5px;
  }
  .header-search-btn {
    &:hover {
      color: $main;
    }
    .fa-magnifying-glass {
      margin-left: 10px;
    }
  }
}

.alert {
  margin-bottom: 0;
}

body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $main;
  color: $accent-blown;
}

.btn {
  background-color: $accent-blown;
  color: $main;
}

section {
  overflow: auto;
}

.center h1 {
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $accent-blue;
  .copylight {
    color: $main;
    float: left;
    letter-spacing: 0.08em;
    margin: 15px 10%;
  }
  .github-link {
    text-decoration: none;
    float: right;
    color: $main;
    margin: 15px 10%;
    letter-spacing: 0.08em;
  }
}

.content-wrapper {
  @include content;
}

.stretched-link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.pagination {
  .active {
    a, span {
      background-color: $accent-blown;
      border-color: $accent-blown-t;
      &:hover, &:focus {
        background-color: $accent-blown;
        border-color: $accent-blown-t;
      }
    }
  }
  li {
    a,span {
      border-color: $accent-blown-t;
      color: $accent-blown;
      &:hover, &:focus {
        border-color: $accent-blown-t;
        color: $accent-blown;
        transition:0.5s all;
      }
    }
  }
}
