// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";
@import "_mixins";

#map-search-wrapper {
  @include wrapper_h1;
  #map-search {
    margin: auto;
    width: 80%;
  }
  .btn-filter {
    margin-bottom: 30px;
  }
  #search-map {
    height: 600px;
  }
  h4 {
    font-weight: bold;
    margin: 5px 0;
  }
  .feature {
    width: 100%;
    clear: both;
    margin-left: 3px;
  }
  .feature-icon {
    text-align: left;
    width: 20px;
    height: 20px;
    margin: 4px 4px 4px 0;
  }
  .feature-detail {
    list-style: none;
    color: $accent-blown-t;
    text-align: left;
    margin-top: 2px;
    font-size: 11px;
  }
  .shop-info {
    line-height: 13px;
    clear: both;
  }
  .title {
    float: left;
    margin: 5px 0;
  }
  .content {
    clear: both;
    text-align: left;
    color: $accent-blown-t;
    margin-left: 5px;
    margin-bottom: 3px;
  }
  .shop-info {
    margin-bottom: 6px;
  }
  .detail {
    outline: none;
    color: $accent-blown;
  }
  .btn-cur-lo {
    @include shadow_btn;
    margin-top: 20px;
    margin-right: 10px;
  }
  .btn-map-search {
    @include shadow_btn;
    height: 50px;
    width: 200px;
  }
}