// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables";
@import "_mixins";

.shop-index-wrapper {
  @include wrapper_h1;
  form {
    margin: 20px auto 50px auto;
    width: clamp(260px, 75%, 500px);
  }
  .jt-form-control {
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    height: 50px;
  }
  .btn-search {
    background-color: $accent-blown;
    color: $main;
    border-color: transparent;
    padding-right: 10px;
    font-size: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 46px;
    .fa-magnifying-glass {
      padding-left: 4px;
      color: $main;
    }
  }
  #FilterAccordion {
    p {
      font-size: 17px;
    }
  }
  .filter {
    margin: 30px 0 20px 0;
    cursor: pointer;
  }
  .feature-filter {
    background-color: $sub;
    padding: 7px 0;
    font-size: 15px;
    .filter-feature-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  .btn-filter {
    @include shadow_btn;
    margin-top: 20px;
  }
  .shops {
    @include shop_index;
  }
}

#shop-detail-wrapper {
  @include shop_block;
  h1 {
    text-align: left;
    margin-top: 0;
  }
  .features {
    text-align: left;
    margin-bottom: 20px;
    .feature {
      position: relative;
      &:hover .feature-detail{
        display: inline-block;
        top: 40px;
        left: -35px;
        animation: appear .3s ease;
      }
      .feature-icon {  
        width: 30px;
        height: 30px;
        margin-right: 10px;      
      }
      .feature-detail {
        display: none;
        position: absolute;
        padding: 10px;
        font-size: 12px;
        line-height: 1.6em;
        color: $main;
        border-radius: 5px;
        background: $accent-blue;
        z-index: 1000;
        width: 170px;
        text-align: center;
        &:before {
          content: "";
          position: absolute;
          top: -24px;
          right: 60%;
          border: 15px solid transparent;
          border-top: 15px solid $accent-blue;
          margin-left: -15px;
          transform: rotateZ(180deg);
          z-index: 1000;
        }
      }
    }
  }
  .shop-img {
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
    height: 420px;
    img {
      padding: 0;
    }
  }
  .slick-prev, 
  .slick-next {
    position: absolute;
    z-index: 3;
    top: 50%;
    cursor: pointer;
    outline: none;
    height: 25px;
    width: 25px;
    &:before {
      font-size: 30px;
    }
  }
  .slick-prev {
    left:2.5%;
  }
  .slick-next {
    right:2.5%;
  }
  .slick-dots {
    li {
      font-size: 20px !important;
      button:before {
        font-size: 14px !important;
        color: rgb(60, 60, 60) !important;
      }
    }
  }
  .shop-info {
    dl {
      float: left;
      text-align: left;
      margin-left: 30px;
    }
    dt {
      font-size: 20px;
      margin-bottom: 10px;
    }
    dd {
      color: $accent-blown-t;      
      font-size: 17px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
  h3 {
    margin-top: 50px;
    padding-bottom: 5px;
    border-bottom: solid 2px;
    border-color: $sub;
    text-align: left;
    clear: both;
  }
  p {
    margin-top: 20px;
    text-align: left;
  }
  .modal-dialog {
    margin: 10rem auto;
    label {
      width: 80%;
      text-align: left;
      font-size: 1.5rem;
    }
    textarea, select {
      resize: vertical;
      border: 1px solid #bbb;
      width: 80%;
      margin-bottom: 20px;
      border-radius: 4px;
    }
    .modal-footer {
      text-align: center;
    }
    .btn-cm-modal {
      @include shadow_btn;
    }
  }
  .comment {
    margin-top: 30px;
    margin-right: 10px;
    background-color: $sub;
    border-radius: 4px;
    padding: 10px;
    .avatar {
      @include avatar;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      width: 60px;
      height: 60px;
    }
    .cm-user-info {
      text-align: left;
      font-size: clamp(12px, 1.4vw, 15px);
    }
    .cm-title {
      float: left;
      margin-top: 25px;
      font-size: 15px;
    }
    .cm-content {
      text-align: left;
    }
  }
  .btn-pc {
    margin-top: 25px;
    box-shadow: 3px 3px 4px rgba(0,0,0, .15);
    transition:0.3s all;
    &:hover {
      color: $main;
      transform: translateY(2px);
      box-shadow: 0px 0px 0px rgba(0,0,0,.15);
    }
    &:focus {
      color: $main;
    }
  }
  .cm-delete {
    margin: 10px 0;
    text-align: right;
    .fa-trash {
      color: $accent-blown;
    }
  }
  .more-link {
    color: $accent-blown;
    margin-top: 20px;
    text-decoration: none;
  }
  #shop-map {
    width: 100%;
    height: 400px;
    margin: 30px 0;
  }
}

.btn-bm {
  float: left;
  width: 90%;
  background-color: transparent;
  color: $accent-blown;
  border: 1px solid;
  padding: 5px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  &:hover {
    color: $accent-blown;  
  }
  .fa-bookmark {
    margin-left: 5px;
  }
}

.btn-ubm {
  float: left;
  width: 98%;
  background-color: $accent-blown;
  color: $main;
  border: 1px solid;
  padding: 5px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  &:hover {
    color: $main;  
  }
  .fa-bookmark {
    margin-left: 5px;
  }
}
