<% provide(:title, '【管理】トップページ') %>

<div class="top-wrapper container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>管理用トップページ</h2>
    </div>
    <div class="col-xs-12 text-center">
      
    </div>
  </div>
</div>