<footer>
  <div class="policy">
    <div class="col-xs-6 text-center">
      <a data-toggle="modal" data-target="#TermsOfServiceModal">
        利用規約
      </a>
    </div>
    <div class="col-xs-6 text-center">
      <a data-toggle="modal" data-target="#PrivacyPolicyModal">
        プライバシーポリシー
      </a>
    </div>
  </div>
  <div class="copylight">
    <div class="col-xs-12 text-center">
      <p>©️ 2022 純喫茶Trip</p>
    </div>
  </div>
  <%= render 'shared/terms_of_service' %>
  <%= render 'shared/privacy_policy' %>
</footer>